
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap');

.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container2 {
    height: 85vh;
}
#topbar {
    height: 30%;
    display: flex;
    justify-content: space-between;
}
#main {
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.logoEpicode {
    margin-left: 35px;
    height: 25px;
    margin-top: 15px;
}
h2 {
    font-family:'Outfit';
    color: white;
    font-weight: 400;
    font-size: 200%;
    width: 50%;
    height: 40%;
    text-align: center;
}
#answers {
    height: 35%;
    display: grid;
    grid-template-columns: repeat(2, 270px); /* 2 colonne */
    gap: 15px 25px;
    justify-content: center;
}

.answerButton {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: white;
    background:#ffffff12;
    border-radius: 30px;
    height: 45px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0px -2px 0px 2px rgba(255, 255, 255, 0.597);
}
.answerButton:hover {
    background: linear-gradient(180deg,rgba(210, 0, 148, 1) 0%, rgba(144, 0, 128, 0.97) 100%);
}
#counter{
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Outfit';
    letter-spacing: 2px;
}
.total {
    color: #D20094;
}
    