@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap");

:root {
  --heading-font-family: "Outfit", serif;
  --descriptions-font-family: "Inter", serif;
  --accent-color: #00ffff;
  --answer-button-color: #d20094;
  --answer-button-2-color: #900080;
}

.outfit-uniquifier {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
.inter-uniquifier {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
  background-image: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#container1 {
  margin: 60px;
  margin-right: 390px;
}
h1 {
  font-family: var(--heading-font-family);
  color: white;
  font-size: 60px;
  font-weight: 100;
  line-height: 0.8;
}
h3 {
  font-family: var(--descriptions-font-family);
  color: var(--answer-button-color);
  margin-bottom: -10px;
}
p,
ul,
label {
  font-family: var(--descriptions-font-family);
  color: white;
  font-size: 16px;
}
ul {
  margin-top: 40px;
  margin-bottom: 80px;
}
#finish {
  display: flex;
  justify-content: space-between;
}
#proceed {
  background: var(--accent-color);
  height: 35px;
  width: 115px;
  border: none;
  box-shadow: 0px 2px 11px 2px var(--accent-color);
}

#proceed a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(10, 14, 50);
}

#container2 {
  margin: 60px;
  height: 85vh;
}
#topbar {
  height: 30%;
  display: flex;
  justify-content: space-between;
}

#countdown {
  width: 110px;
  height: 110px;
  position: relative;
}

#circle {
  position: absolute;
  top: 38px;
  left: -193px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid gray;
  border-top: 18px solid var(--accent-color);
  animation: countdownTimer 12s linear forwards;
  transform-origin: center;
}
@keyframes countdownTimer {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  50.01% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#countdown-text {
  position: absolute;
  top: 58%;
  left: 58%;
  font-size: 10px;
  font-weight: normal;
  transform: translate(-246%, 9%);
  color: white;
}

#main {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.logoEpicode {
  height: 25px;
}
h2 {
  font-family: var(--heading-font-family);
  color: white;
  font-weight: 400;
  font-size: 200%;
  width: 50%;
  height: 40%;
  text-align: center;
}
#answers {
  height: 35%;
  display: grid;
  grid-template-columns: repeat(2, 270px); /* 2 colonne */
  gap: 15px 25px;
  justify-content: center;
}

.answerButton {
  font-family: var(--descriptions-font-family);
  font-weight: 400;
  font-size: 16px;
  color: white;
  background: #ffffff12;
  border-radius: 30px;
  height: 45px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 0px 2px rgba(255, 255, 255, 0.597);
}
.answerButton:hover {
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(144, 0, 128, 0.97) 100%
  );
}
#counter {
  display: flex;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  letter-spacing: 2px;
}
.total {
  color: var(--answer-button-color);
}
